<div class="cabezera row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="img-fluid logo " src="../assets/imagenes/StarWars logo.jpeg">
        </div>
        <div class="col-md-3 login">

            <button *ngIf="!logeado" class="boton"
            data-bs-toggle="modal" data-bs-target="#login" id="log" (click)="cambio('login')">LOG IN &nbsp; &nbsp;  //</button>

            <button *ngIf="logeado" class="boton" (click)="logOut()">LOG OUT &nbsp; &nbsp; //</button>

            <button class="boton" data-bs-toggle="modal" data-bs-target="#login" (click)="cambio('register')">SIGN UP</button>
          
            <!-- MODAL --> 

            <div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content estil">
            
                        <div class="modal-header border-0">
                            
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close" (click)="clearInput()"></button>
                        </div>
                        <div class="modal-body ">
                            <app-login [activar]="activar"></app-login>
                        </div>
                        
                    </div>
                </div> 
            </div>
        </div>

</div> 

