<div *ngIf="!active" class="container pt-5" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
    <div *ngFor="let nave of naves; let i = index;" type="button" (click)="hola(i)">
        <div class="nave">
            <p *ngIf="naves">{{i+1}} - {{nave.name.toUpperCase()}} </p>
            <p *ngIf="naves">modelo: {{nave.model}}</p>
        </div>
    </div>
    <div *ngIf="modal" class="alert alert-primary alert-dismissible fade show d-flex justify-content-center w-50 m-auto mb-4" role="alert">
        <strong>NO HAY MÁS NAVES!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<app-detalles-nave *ngIf="active" [index]="index" [naves]="naves"></app-detalles-nave>
