<div class="container-fluid p-5 mb-5">
<a routerLink="/starships" (click)="comprueba()">
    <div class="container contenedor m-auto">   
        <div class="img1">
            <img class="img img-fluid" src="../../assets/imagenes/nave starWars.jpg" alt="">
        <div class="contenido arriba">
            <h6>DESCUBRE LAS NAVES</h6>
        </div>
        </div>
    
    </div>
</a>
<a>
<div class="container contenedor m-auto">
    <div class="img1">
        <img class="img img-fluid" src="../../assets/imagenes/Dart StarWars.jpg" alt="">
        <div class="contenido arriba">
            <h6>CONOCE A TUS HEROES FAVORITOS</h6>
        </div>
    </div>
   
</div>
</a>
<div class="container contenedor m-auto">
    <div class="img1"><img class="img img-fluid" src="../../assets/imagenes/yoda StarWars.jpg" alt=""></div>
    <div class="contenido abajo">
        <h6>LOS SECRETOS OCULTOS DEL MAESTRO</h6>
    </div>
</div>
<div class="container contenedor m-auto">
    <div class="img1"><img class="img img-fluid" src="../../assets/imagenes/robot StarWars.jpg" alt=""></div>
    <div class="contenido abajo">
        <h6>ROBOTS DE OTRO MUNDO...</h6>
    </div>
</div>
